@import '../../assets/styles/main';

.Reports {
	height: 100%;
	background-color: $color-main-background;
	@include flex(center, center);

	.container {
		width: 400px;
		padding: 50px 40px;
		@include flex(center, center, column);

		.title {
			@include font(30px, 700);
			margin: 0;
		}

		.space-top {
			margin-top: 15px;
		}
	}
}

.input-field {
	width: 100%;
	margin-bottom: 30px;
}
