@import '../../../../assets/styles/main';
@import '../../style.scss';

.MainButtons {
	margin-top: 55px;

	.store-info-wrapper {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		column-gap: $spacing;

		.label {
			@include font(16px, bold);
			color: $color-dark-gray;
			margin-bottom: 5px;
		}

		.value {
			@include font(25px, bold);
			color: $color-dark;
			margin: 0;
		}
	}

	.buttons-wrapper {
		margin-top: $spacing;
		display: grid;
		column-gap: $spacing;
		row-gap: $spacing;
		grid-template-columns: repeat(2, 1fr);
	}
}

.MainButton {
	background: $color-gray;
	box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25);
	border: 0;
	border-radius: 10px;
	@include font(25px, bold);
	color: #858585;
	padding: 29px 10px;
	cursor: pointer;
	outline: 0;

	&:hover {
		opacity: 0.7;
	}

	&.btn-others {
		grid-column-start: 1;
		grid-column-end: 3;
	}

	&.disabled {
		opacity: 0.3;
		background: white;
		border: 3px solid #b2b2b2;
		pointer-events: none;
		box-shadow: none;
	}

	.spinner {
		line-height: 100%;
	}

	.shortcut-key {
		margin-top: 3px;
	}
}

.OthersModal {
	.transaction-search-input {
		font-size: 20px;
		margin-bottom: 20px;
	}

	.spacing-top {
		margin-top: 15px;
	}
}

.QueueModal {
	.TableQueue {
		margin-top: 10px;
	}

	.btn-queue {
		background-color: $color-primary;
		display: block;
		width: 100%;
		box-shadow: 0px 4px 0px #17af5e;
		border: 0;
		border-radius: 10px;
		@include font(25px, bold);
		color: white;
		padding: 10px;
		cursor: pointer;
		outline: 0;

		&.disabled {
			opacity: 0.3 !important;
			color: #858585 !important;
			background: white !important;
			border: 3px solid #b2b2b2 !important;
			pointer-events: none !important;
			box-shadow: none !important;
		}

		&:hover {
			opacity: 0.7;
		}

		.shortcut-key {
			margin-top: 3px;
		}
	}
}

.KeyboardShortcutsModal {
	.label,
	.value {
		@include font(20px, bold);
	}

	.KeyboardButtonDisplay {
		margin-right: 10px;
	}
}

.DiscountAmountModal {
	.label {
		@include font(20px, bold);
	}

	.value {
		@include font(20px);
	}

	.other-button {
		&.spacing {
			margin-bottom: 15px;
		}
	}

	.form {
		.input-field {
			margin-bottom: 20px;

			.input-label {
				font-size: 20px;
			}

			.input-control {
				font-size: 18px;

				&.input-quantity {
					@include font(75px, bold);
					text-align: center;
				}
			}
		}

		.custom-footer {
			display: flex;
			align-items: center !important;
			justify-content: center !important;

			.space-right {
				margin-right: 20px;
			}
		}
	}
}
