@import '../../assets/styles/main';

.Login {
	height: 100%;
	background-color: $color-main-background;
	position: relative;
	@include flex(center, center);

	.setup-buttons {
		@include flex(stretch, center);
		width: 100%;

		.Button {
			flex: 1;

			&.btn-set-api-url {
				margin-right: 5px;
			}

			&.btn-register-machine {
				margin-left: 5px;
			}
		}
	}

	.container {
		width: 450px;
		padding: 50px 40px;
		@include flex(center, center, column);

		.form {
			width: 100%;
		}

		.logo {
			width: 200px;
			margin-bottom: 40px;
		}

		.errors {
			width: 100%;
		}

		.btn-reports {
			width: 100%;
			margin-top: 10px;
		}
	}

	.ButtonClose {
		@include flex(center, center, column);
		padding: 15px 20px 10px;
		background-color: transparent;
		position: absolute;
		top: 0;
		right: 0;
		border: 0;
		border-radius: 8px;
		cursor: pointer;
		transition: 150ms;
		color: $color-dark-gray;

		&:hover {
			background-color: #ebedef;
		}

		.icon {
			font-size: 50px;
		}

		.text {
			margin-top: 5px;
			font-size: 15px;
		}
	}
}

.input-field {
	width: 100%;
	margin-bottom: 30px;
}
