@import '../../assets/styles/main';

$spacing: 25px;

.fullscreen-enabled .Main {
	background-color: $color-main-background;
}

.Main {
	background-color: $color-main-background;
	.main-content {
		display: flex;

		.void-warning,
		.full-paid-reprint {
			margin-top: 20px;
		}

		.left {
			flex-basis: 70%;
			padding-right: $spacing;
			display: flex;
			flex-direction: column;
		}

		.right {
			flex-basis: 30%;
		}
	}

	.store-title {
		margin-top: 20px;
		margin-bottom: 0;

		font-size: 30px;
		font-weight: bold;
		text-align: center;
		color: $color-dark-gray;
	}
}

.other-button {
	display: block;
	width: 100%;
	background: $color-gray;
	box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25);
	border: 0;
	border-radius: 10px;
	@include font(20px, bold);
	color: #858585;
	padding: 15px 10px;
	cursor: pointer;
	outline: 0;

	&.disabled {
		opacity: 0.3 !important;
		color: #858585 !important;
		background: white !important;
		border: 3px solid #b2b2b2 !important;
		pointer-events: none !important;
		box-shadow: none !important;
	}

	&:hover {
		opacity: 0.7;
	}

	&.btn-end-session {
		background-color: $color-red;
		color: white;
		box-shadow: 0px 4px 0px #ab363d !important;
	}

	&.btn-no-discount {
		background-color: $color-red;
		color: white;
		box-shadow: 0px 4px 0px #ab363d;
	}
}

.shortcut-key {
	display: block;
	font-size: 15px;
	line-height: 100%;
}
