@import '../../../../assets/styles/main';

.CashBreakdownModal {
	.form {
		.title {
			color: $color-primary;
			@include font(1.5rem, 700);
			text-align: center;
			text-transform: uppercase;
		}

		.breakdown-field {
			padding: 0 50px;
			margin-bottom: 20px;

			.breakdown-label {
				font-size: 20px;
			}

			.breakdown-input {
				font-size: 18px;
				text-align: center;
			}
		}

		.custom-footer {
			display: flex;
			align-items: center !important;
			justify-content: center !important;

			.btn-cancel {
				margin-right: 20px;
			}
		}
	}
}
