@import '../../../../assets/styles/main';

.Payment {
	.payment-content {
		border-radius: 10px;
		overflow: hidden;

		.text-wrapper {
			padding: 15px;
			background-color: $color-main-background;
			border: 1px solid $color-gray;

			.label {
				@include font(16px, bold);
				color: $color-dark-gray;
				margin-bottom: 5px;
			}

			.value {
				@include font(40px, bold);
				color: $color-dark;
				text-align: right;
				margin: 0;
			}
		}

		.btn-pay {
			width: 100%;
			border-radius: 10px;
			border-top-left-radius: 0;
			border-top-right-radius: 0;
		}
	}

	.pending-balance-wrapper {
		@include flex(space-between, flex-start);
		margin-top: 10px;
		opacity: 0;

		.active {
			opacity: 1;
		}

		.label {
			@include font(16px, bold);
			color: $color-secondary;
			margin: 0;
		}

		.value {
			@include font(25px, bold);
			color: $color-secondary;
			text-align: right;
			margin: 0;
		}
	}
}

.PaymentModal {
	.form {
		.quantity-label {
			font-size: 20px;

			&.space-top {
				margin-top: 25px;
			}

			.change-value {
				font-size: 20px;
			}
		}

		input {
			text-align: center;
			font-size: 25px;

			&.amount-due-input {
				@include font(100px, bold);
				color: red;
			}
		}

		.custom-footer {
			display: flex;
			align-items: center !important;
			justify-content: center !important;

			.btn-cancel {
				margin-right: 20px;
			}
		}
	}
}

.InvoiceModal {
	.label,
	.value,
	.official-receipt-label {
		@include font(25px, bold);
	}

	.official-receipt-label,
	.value-center {
		display: block;
		text-align: center;
	}

	.Table {
		border-radius: 10px;
		border: 1px solid $color-gray;
	}

	.custom-footer {
		justify-content: center !important;
	}
}

.ThankYouModal {
	.transaction-details {
		text-align: left;
		margin: 30px 0;

		.item {
			&:not(:last-child) {
				margin-bottom: 10px;
			}

			.label,
			.value {
				@include font(25px, bold);
			}

			.label {
				color: $color-dark-gray;
			}
		}
	}
}
