@import '../../../assets/styles/main';

$spacing: 25px;

.Main {
	.main-content {
		display: flex;

		.left {
			flex-basis: 70%;
			padding-right: $spacing;
			display: flex;
			flex-direction: column;
		}

		.right {
			flex-basis: 30%;
		}
	}
}
