.SettingUrl {
	#localIpAddress {
		font-size: 22px;
	}

	.custom-footer {
		display: flex;
		align-items: center !important;
		justify-content: center !important;

		.btn-cancel {
			margin-right: 20px;
		}
	}
}
